/* firs set up everything to border-box sizing. 
This is a CSS code that sets the box-sizing property to border-box for all elements, as well as for their ::before and ::after pseudo-elements.*/
*, **::before, *::after {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: "Nunito", sans-serif;
  background-color: #ffd3b6;
}
h1 {
  font-family: "Gochi Hand", sans-serif;
  font-size: 3rem;
}

h2 {
  font-family: "Gochi Hand", sans-serif;
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}

/* .first-colour {
        background-color: #a8e6cf;
      }
      .second-colour {
        background-color: #fdffab;
      }

      .third-colour {
        background-color: #ffd3b6;
      }

      .fourth-colour {
        background-color: #ffaaa5;
      } */

.search-bar{
  padding: 10px;
  align-items: center;
}